 <div class="row superior central">

   <div class="col s6 m6">
     <div class="card blue-grey darken-2 ">

       <div class="card-content white-text">
         <span class="card-title">Contas</span>
         <p>Defina as contas que darão controle aos lançamentos. 
          Exemplo: Sálario, farmácia, energia....</p>
       </div>

       <div class="card-action">
         <a href="account/register">Registrar</a>
         <a href="account/list">Listar</a>
       </div>

     </div>
   </div>

   <div class="col s6 m6">
     <div class="card blue-grey darken-2 ">

       <div class="card-content white-text">
         <span class="card-title">Contas</span>
         <p>Defina as contas que darão controle aos lançamentos. 
          Exemplo: Sálario, farmácia, energia....</p>
       </div>

       <div class="card-action">
         <a href="account/register">Registrar</a>
         <a href="account/list">Listar</a>
       </div>

     </div>
   </div>

   <div class="col s6 m6">
     <div class="card blue-grey darken-2 ">

       <div class="card-content white-text">
         <span class="card-title">Contas</span>
         <p>Defina as contas que darão controle aos lançamentos. 
          Exemplo: Sálario, farmácia, energia....</p>
       </div>

       <div class="card-action">
         <a href="account/register">Registrar</a>
         <a href="account/list">Listar</a>
       </div>

     </div>
   </div>

   <div class="col s6 m6">
     <div class="card blue-grey darken-2 ">

       <div class="card-content white-text">
         <span class="card-title">Contas</span>
         <p>Defina as contas que darão controle aos lançamentos. 
          Exemplo: Sálario, farmácia, energia....</p>
       </div>

       <div class="card-action">
         <a href="account/register">Registrar</a>
         <a href="account/list">Listar</a>
       </div>

     </div>
   </div>


 </div>